@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0;
}

/* navbar */

.navbar {
  @apply  bg-black w-full flex justify-between text-white font-semibold pt-3 px-7 shadow-orange-500 shadow-md pb-3 mb-1 ;
}





.abovebg{
  @apply absolute z-10 text-black text-center;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0) rotateX(20deg) rotateY(10deg);
  }
  50% {
    transform: translateY(-20px) rotateX(20deg) rotateY(10deg);
  }
}

.animate-float {
  animation: float 1s ease-in-out ;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}


